.gallery-slider {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.slick-track {
    display: flex;
    align-items: center;
}

.slick-prev:before, .slick-next:before {
    font-size: 25px;
    color: #000000;
}

.slick-prev {
    left: -35px;
}